/* eb-garamond-regular - vietnamese_latin-ext_latin_greek-ext_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v25-vietnamese_latin-ext_latin_greek-ext_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eb-garamond-v25-vietnamese_latin-ext_latin_greek-ext_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eb-garamond-v25-vietnamese_latin-ext_latin_greek-ext_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eb-garamond-v25-vietnamese_latin-ext_latin_greek-ext_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eb-garamond-v25-vietnamese_latin-ext_latin_greek-ext_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eb-garamond-v25-vietnamese_latin-ext_latin_greek-ext_cyrillic-ext-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

/* mea-culpa-regular - latin-ext_latin */
@font-face {
  font-family: 'Mea Culpa';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mea-culpa-v3-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/mea-culpa-v3-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/mea-culpa-v3-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/mea-culpa-v3-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/mea-culpa-v3-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/mea-culpa-v3-latin-ext_latin-regular.svg#MeaCulpa') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: "EBGInitials";
  src:	url( '../fonts/EBGaramond-Initials.eot');
  src:	url('../fonts/EBGaramond-Initials.ttf') format('truetype'),
  	url('../fonts/EBGaramond-Initials.woff') format('woff');
}

@font-face {
	font-family: 'EB Garamond';
  src:	url('https://pseudepigraph.neocities.org/fonts/EBGaramond12-Italic.ttf') format('truetype'),
  	url('https://pseudepigraph.neocities.org/fonts/EBGaramond12-Italic.otf') format('otf');
  font-style: italic;
}

@font-face {
	font-family: 'Basteleur';
	font-style: normal;
  font-weight: 900;
  src:	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Bold.ttf') format('truetype'),
  	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Bold.otf') format('otf');
  	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Bold.woff') format('woff');
  	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Moonlight';
	font-style: normal;
  font-weight: 900;
  src:	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Moonlight.ttf') format('truetype'),
  	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Moonlight.otf') format('otf');
  	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Moonlight.woff') format('woff');
  	url('https://pseudepigraph.neocities.org/fonts/Basteleur-Moonlight.woff2') format('woff2');
}

@font-face {
  font-family: 'Zainer Initials';
  src: url('https://pseudepigraph.neocities.org/fonts/zainer-initials45mm.otf'),
  url('https://pseudepigraph.neocities.org/fonts/zainer-initials45mm.woff'),
  url('https://pseudepigraph.neocities.org/fonts/zainer-initials45mm.woff2');
}

